<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://rawgit.com/jackmoore/autosize/master/dist/autosize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/mainpage.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main_login.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/util.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/font-awesome-animation.min.css') }}">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"
        integrity="sha256-tyfWW2LtJQNI+l3F0h6xDV/ij6Mfn8lwSKHWOsmEgXM=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Titan+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo+2&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>
    <link rel="stylesheet"
        href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-sanitize.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }} "></script>
    <title>STranslator</title>
</head>

<body ng-app='stranslator' ng-controller='autoPopulateData' data-ng-init="init()" ng-cloak>

    <div class="site-header">
        <div class='row'>
            <div class="col-1 col-xs-6">
                <img id='logo-img' src="{{ url_for ('static', filename='images/logo.png') }}" />
            </div>
            <div class="col-6 d-sm-block d-none d-sm-none d-md-block"><span id="site-title">Smart Translator</span></div>
            <div class='col-5 col-xs-6'>
                <div class='profile' ng-if='is_user_login'>
                    <!-- <span>[[logged_username]]</span>
                    <span><i class="fa fa-sign-out" aria-hidden="true" ng-click="user_logout()"></i><md-tooltip md-direction="bottom">Logout</md-tooltip></span>
                     -->
                     <div class="dropdown">
                        <span class="dropbtn">[[logged_username]]</span>
                        <!-- <button class="dropbtn">Dropdown</button> -->
                        <div class="dropdown-content">
                        <a class="account_option" ng-click="showSavedItems($event)">Saved Words</a>
                        <a class="account_option">Profile</a>
                        <a class="account_option" ng-click="user_logout()">Logout</a>
                        </div>
                      </div>
                </div>
                <div class='login' ng-if="!is_user_login">
                    <a class="profile_button" id='login_icon' ng-click="showLogin($event)">Login / Sign Up</a>
                </div>
            </div>
        </div>

    </div>
    <div class='page-content' >
        <div id='main-content'>
            <div id='main-header'>
            </div>
            <div class='row'>
                <div autoGrow class='input-operators col-md-6'>

                    <div class='display-content' onresize="resize_func()"  ng-model='initValue'>

                        <textarea ng-keyup="autoExpand($event)" id='main-input' contenteditable="true"
                            ng-change='inputChange(input_text)' ng-model='input_text'
                            ng-model-options='{ debounce: 1000 }'>
                        [[input_text]]
                        </textarea>
                        <div class='text-prediction' ng-if='prediction_text.length != 0'>
                            <span>Is this what you mean: <a
                                    ng-click="translate_w(prediction_text)">[[prediction_text]]</a></span>
                        </div>
                        <div class='pronunciation' ng-if='pronunciation != "" '></div>
                        <div class='context-buttons'>
                            <div class='row'>
                                <div class="col-md-6 source-audio-icons">
                                    <span ng-if="input_text != ''">
                                        <!-- <img class="source-button" ng-if="input_text != ''"
                                            src="{{ url_for('static', filename='images/speak.png') }} "
                                            style="width: 20px; height: 20px;" alt=""> -->
                                            <i class="fa fa-volume-up translated-util-icon" aria-hidden="true"></i>
                                        <md-tooltip md-direction="top" ng-if="k.inline_expl!=''">
                                            Speak</md-tooltip>
                                    </span>
                                    <span ng-if="input_text != ''">
                                        <!-- <img class="source-button" ng-if="input_text != ''" ng-click="showAdvanced($event)"
                                            src="{{ url_for('static', filename='images/link.png') }} "
                                            style="width: 15px; height: 15px;" alt=""> -->
                                            <i class="fa fa-link translated-util-icon" aria-hidden="true" ng-click="showAdvanced($event)"></i>
                                        <md-tooltip md-direction="top" ng-if="k.inline_expl!=''">
                                            Search for references</md-tooltip>
                                    </span>

                                    <span ng-if="logged_username == 'admin'">
                                        <!-- <img class="source-button" ng-if="input_text != ''" ng-click="showAdvanced($event)"
                                            src="{{ url_for('static', filename='images/link.png') }} "
                                            style="width: 15px; height: 15px;" alt=""> -->
                                            <i class="fa fa-pencil-square-o translated-util-icon" aria-hidden="true" ng-click="editPageForAdmin()"></i>
                                        <md-tooltip md-direction="top" ng-if="k.inline_expl!=''">
                                            Edit</md-tooltip>
                                    </span>

                                </div>
                                <div class="col-md-6 text-length">
                                    <span>[[input_text.length==0? 0:input_text.length +'/'+500 ]]</span>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div emHeightTarget class='output-operators col-md-6'>
                    <div class='display-content' id='main-output' contenteditable="false">
                        <div ng-if='show_waiting_mess' class='waiting-for-result'>
                            <span>Translating...</span>
                        </div>
                        <div class='translated-result' id="translated_result_id" ng-model='translatedResult'>
                            [[translatedResult]]
                        </div>
                        <div class='context-buttons dest-icon'>
                            <div class='row'>
                                <div class="col-md-6">
                                    
                                </div>
                                <div class="col-md-6">
                                    <div style="text-align: right;" ng-if="input_text != '' && !show_waiting_mess ">
                                        <span>
                                            <md-tooltip md-direction="left">
                                                Report this translation</md-tooltip>
                                                <i class="fa fa-flag translated-util-icon" aria-hidden="true"></i>
                                        </span>
                                        <span ng-if="!translation_saved">
                                            <md-tooltip md-direction="left">
                                                Save this translation</md-tooltip>
                                            <i class="fa fa-save fa-2x translated-util-icon" ng-click="save_translation()"></i>
                                        </span>
                                        <span ng-if="translation_saved">
                                            <i class="fa fa-check translated-util-icon" aria-hidden="true" ng-click="unsave_translation()" style="color: #ac9c02;"></i>
                                        </span>
                                        
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if='translate_result.length > 0'>
            <div class='select-tag' ng-model='g_tags' ng-if='g_tags.length != 0'>
                <div>
                    <span class='tag-header' >Select the following tags below to match
                        the best meaning</span>
                </div>
                <div class='tag-content'>
                    <a ng-repeat='t in g_tags' ng-click='selectTag($index, t)'
                        ng-class="{tag_selected_cell: tag_selected.indexOf($index) != -1}" class='tag' style="color: #6f6f6f">[[t]]
                    </a>
                </div>
            </div>
        </div>
        <div id='additional-content' ng-if='translate_result.length > 0 || eng_definitions.jsondata.length > 0'>
            <div class='row'>
                <div class='inner-content-left col-md-6'>
                    <div class="add-content-input  display-content-additional">
                        <div ng-if='eng_definitions.jsondata.length != 0' class='language-definitions'>
                            <!-- source def pos -->
                            <div ng-if='source_notes.length != 0'>

                            </div>
                            <div class="r_header" ng-model='source_r_header'><span>Definition for </span><span
                                    class="r_header_word">[[source_r_header]]</span></div>
                            <div ng-repeat="sdp in eng_definitions.meta.pos" ng-init='m_count = 0'>
                                <div class='pos-header'>[[sdp]]</div>
                                <!-- source def content -->
                                <div ng-repeat='sdc in eng_definitions.jsondata | filter:{pos: sdp}'>
                                    <div><span class='number-counts'>[[$index + 1]]</span><span
                                            style="position: relative; left: 30px; margin-top: 15px;">[[sdc.definition]]</span>
                                    </div>
                                    <div class='synonynms'>
                                        <a ng-repeat='t in sdc.synonynm' ng-click='translate_w(t)' class='tag'>[[t]]
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='inner-content-right col-md-6'>
                    <div class='add-content-output  display-content-additional'>
                        <div ng-if='dest_notes.length != 0'>
                            <div ng-repeat="n in dest_notes">
                                [[n]]
                            </div>
                        </div>
                        <div class="r_header" ng-model='dest_r_header'><span>Translation Results for </span><span
                                class="r_header_word">[[dest_r_header]]</span></div>
                        <div ng-if='translate_result'>
                            <div ng-repeat='_pos in pos_types'>
                                <div class="each-part">
                                    <div class='pos-header'>[[_pos]]</div>
                                    <div class='meaning'
                                        ng-repeat='k in translate_result | filter:{pos:_pos} track by $index'>
                                        <div class="row">
                                            <div
                                                ng-class="{'col-md-3': _pos != 'EXPLANATION', 'col-md-12':_pos == 'EXPLANATION' }">
                                                <span class='number-counts number-counts-dest'>[[$index + 1]]</span>
                                                <span>
                                                    <span uib-tooltip="" tooltip-placement="top">
                                                        <md-tooltip md-direction="top" ng-if="k.inline_expl!=''">
                                                            [[k.inline_expl]]</md-tooltip>
                                                        [[k.m]] 
                                                    </span>
                                                    <span ng-if="k.freq > 1">
                                                        <md-tooltip md-direction="top">Show translation examples</md-tooltip>
                                                    <i style="color: #00000082" class="fa fa-info-circle" aria-hidden="true" ng-click="show_example_sentences(k.node_id, k.m)"></i>
                                                    </span>
                                                    
                                                </span>
                                            </div>
                                            <div class="col-md-7" ng-if="_pos != 'EXPLANATION'">
                                                <span ng-repeat='w_s in k.n_same_m' ng-click='translate_w(w_s)'
                                                    class="n_same_m_class">
                                                    [[w_s]]
                                                </span>
                                            </div>
                                            <div class="col-md-2" ng-if="_pos != 'EXPLANATION'">
                                                
                                                [[k.freq]]
                                            </div>

                                        </div>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<style>
</style>
<script>
    autosize(document.getElementById("main-input"));


    
</script>

</html>