.input-content{
    height: 150px !important;
    /* padding: 15px 30px 30px 15px; */
    /* margin: 15px 30px 30px 15px; */

}
.r_header{
    font-size: 25px;
    color: red;
}
.content-section{
    margin: 15px 15px 15px 15px;
}